.back {
    display: flex;
    align-items: center;
}

.back:hover .back__text {
    color: var(--pallette-supernova);
}

.back:hover .back__icon {
    fill: var(--pallette-supernova);
}

.back__text {
    transition: color var(--transition);
}

.back__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 5px;
    transition: fill var(--transition);
}