.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar:not(:last-child) {
    margin-bottom: 10px;
}

.navbar__btn {
    color: var(--navbar-btns-color);
    transition: color var(--transition);
}

.navbar__btn:not([disabled]):hover {
    color: var(--pallette-supernova);
}

.navbar__btn[disabled] {
    cursor: not-allowed;
    color: var(--navbar-disabled-btn-color);
}