.title {
    position: relative;
    display: inline-block;
    color: var(--ui-title-color);
}
  
.title::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 35%;
    height: 3px;
    background-color: var(--pallette-supernova);
    content: '';
}
  
.title:not(:last-child) {
    margin-bottom: 30px;
}
  
.title:first-letter {
    text-transform: capitalize;
}