.input {
    padding: 10px;
    color: var(--pallette-silver);
    border: none;
    background-color: var(--ui-input-bg);
    border-radius: var(--bdrs10);
    outline: 2px solid transparent;
    transition: outline var(--transition);
}

.input:focus {
    outline: 2px solid var(--pallette-supernova);
}

.input::placeholder {
    color: var(--pallette-silver);
}
