:root {
  /* pallette */
  --pallette-supernova: #ffcb05;
  --pallette-alabaster: #f8f8f8;
  --pallette-white: #fff;
  --pallette-black: #000;
  --pallette-silver: #ccc;
  --pallette-shark: #303136;
  --pallette-cod-gray: #1a1a1a;
  --pallette-gallery: #eee;
  --pallette-dimgray: #696969;

  /* transitions */
  --transition: 0.3s;
  --transition-2: 0.5s;

  /* offsets */
  --offset20: 20px;
  --offset40: 40px;

  /* border-radius */
  --bdrs10: 10px;

  /* theme */
  --body-bg: var(--pallette-alabaster);
  --main-section-bg: var(--pallette-white);
  --main-section-color: var(--pallette-black);
  --ui-title-color: var(--pallette-black);
  --back-btn-color: var(--pallette-black);
  --back-btn-arrow-color: var(--pallette-black);
  --navbar-btns-color: var(--pallette-black);
  --navbar-disabled-btn-color: var(--pallette-silver);
  --ui-input-bg: var(--pallette-gallery);
}

:root.dark {
  --body-bg: var(--pallette-cod-gray);
  --main-section-bg: var(--pallette-shark);
  --main-section-color: var(--pallette-silver);
  --ui-title-color: var(--pallette-silver);
  --back-btn-color: var(--pallette-silver);
  --back-btn-arrow-color: var(--pallette-silver);
  --navbar-btns-color: var(--pallette-silver);
  --navbar-disabled-btn-color: var(--pallette-shark);
  --ui-input-bg: var(--pallette-gallery);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a[class] {
  text-decoration: none;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--body-bg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 10px 0;
}

.main {
  margin-top: 80px;
}

.footer {
  margin-top: auto;
  padding: 20px 0 10px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pallette-supernova);
  border-radius: var(--bdrs10);
}

.main__section {
  min-height: 548px;
  padding: 30px;
  color: var(--main-section-color);
  background-color: var(--main-section-bg);
  border-radius: var(--bdrs10);
  box-shadow: 0 3px 12px rgba(0, 0, 0, .07);
}

.main__section:not(:last-child) {
  margin-bottom: 25px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--pallette-dimgray);
}

.pagination a {
  padding: 10px;
  cursor: pointer;
  transition: color var(--transition);
}

.pagination a:hover {
  color: var(--pallette-supernova);
}

.pagination .active a {
  font-weight: 700;
  font-size: 30px;
  color: inherit;
}

.pagination .disabled a {
  cursor: not-allowed;
}

.pagination .disabled a:hover {
  color: inherit;
}

@media (max-width: 500px) {
  .main__section {
    padding: 15px;
  }
}

@media (max-width: 375px) {
  .main {
    margin-top: 40px;
  }
}