:root {
  /* pallette */
  --pallette-supernova: #ffcb05;
  --pallette-alabaster: #f8f8f8;
  --pallette-white: #fff;
  --pallette-black: #000;

  /* transitions */
  --transition: 0.3s;
  --transition-2: 0.5s;

  /* offsets */
  --offset20: 20px;
  --offset40: 40px;

  /* border-radius */
  --bdrs10: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 2px dotted var(--pallette-black);
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--pallette-alabaster);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 10px 0;
}

.main {
  margin-top: 80px;
}

.footer {
  margin-top: auto;
  padding: 20px 0 10px;
  text-align: center;
}

@media (max-width: 375px) {
  .main {
    margin-top: 40px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pallette-supernova);
  border-radius: var(--bdrs10);
}