.list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--offset40) * -1);
    margin-left: calc(var(--offset40) * -1);
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 8 - var(--offset40));
    margin-bottom: var(--offset40);
    margin-left: var(--offset40);
    text-align: center;
}

.img {
    transition: transform var(--transition);
}

.heading {
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
}

.link {
    color: inherit;
    transition: color var(--transition);
}

.link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
}

.item:hover .img {
    transform: translateY(-2px);
}

.item:hover .link {
    color: var(--pallette-supernova);
}

@media (max-width: 1024px) {
    .item {
        width: calc(100% / 5 - var(--offset40));
    }
}

@media (max-width: 767px) {
    .item {
        width: calc(100% / 3 - var(--offset40));
    }
}

@media (max-width: 500px) {
    .item {
        width: calc(100% / 2 - var(--offset40));
    }
}