.nav__list {
    display: flex;
    align-items: center;
}

.nav__list >*:not(:last-child) {
    margin-right: 35px;
}

.nav__list a {
    position: relative;
    color: var(--pallette-supernova);
    font-size: 18px;
    font-weight: 700;
}

.nav__list a::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--pallette-supernova);
    content: '';
    transition: width var(--transition);
}

.nav__list a:hover::before {
    width: 100%;
}

.nav__list :global(.active-link)::before {
    width: 100%;
} 