.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex-shrink: 0;
    margin-right: 80px;
}

.logo img {
    width: 200px;
}

.header__item {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .logo {
        display: none;
    }
}

@media (max-width: 500px) {
    .container {
        align-items: flex-start;
        flex-direction: column;
    }

    .container > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}