.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error > *:not(:last-child) {
    margin-bottom: 20px;
}

.error__heading {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    color: var(--pallette-supernova);
}

.error__paragraph {
    font-size: 20px;
    font-weight: 700;
    color: var(--pallette-supernova);
}

.error__link {
    color: var(--pallette-supernova);
    border-bottom: 2px solid var(--pallette-supernova);
}

.error__link:hover {
    border-bottom: none;
}