.main__content {
    min-height: 300px;
    padding: 30px;
    background-color: var(--pallette-white);
    border-radius: var(--bdrs10);
    box-shadow: 0 3px 12px rgba(0, 0, 0, .07);
}

.main__title {
    position: relative;
    display: inline-block;
}

.main__title::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 35%;
    height: 3px;
    background-color: var(--pallette-supernova);
    content: '';
}

.main__title:not(:last-child) {
    margin-bottom: 20px;
}